<h1>Party Starter</h1>
<p>
<%= link_to "Start a Party", new_event_path %>
</p>
<h2>Parties</h2>

<% unless @events.blank? %>
	<% @events.each do |event| %>
		<p>
		<%= event.title %>
		<%= form_for [event,@rsvp] do |f| %>
			<% f.submit 'rsvp' %>
		<% end %> 
		</p>
	<% end %>
<% end %>